
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: rgba(0, 0, 0, 0.356);
}

.container{
    max-width: 1900px;
    margin: 0 auto;
}

header{
    background: no-repeat center/cover url('./imagem/To_Do_List.png');
    height: 200px;
}

header > h1{
    padding: 4rem 2rem;
    text-align: start;
    color: #fff;
    font-size: 50px;
    font-weight: 900;
}

.container__adicionar-tarefa{
    background-color: #000000b9;
    max-width: 335px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px 0px;
    margin: 30px 0 30px 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.container__adicionar-tarefa .input-tarefa{
    border: none;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 20px;
    outline: none;;
}

.container__adicionar-tarefa .btn-adicionar{
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: #000;
    font-weight: 600;
    transition: .2s;
}

